<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.space.mapper.SpaceInfoMapper">

    <resultMap type="SpaceInfo" id="SpaceInfoResult">
        <result property="spaceId" column="space_id"/>
        <result property="spaceName" column="space_name"/>
        <result property="spaceAddress" column="space_address"/>
        <result property="remark" column="remark"/>
        <result property="companyName" column="company_name"/>
        <result property="accountBank" column="account_bank"/>
        <result property="accountNum" column="account_num"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <sql id="selectSpaceInfoVo">
        select s.space_id,
               s.space_name,
               s.space_address,
               s.remark,
               s.company_name,
               s.account_bank,
               s.account_num,
               s.create_by,
               s.create_time,
               s.update_by,
               s.update_time
        from t_space_info s
    </sql>

    <select id="selectSpaceInfoList" parameterType="SpaceInfo" resultMap="SpaceInfoResult">
        <include refid="selectSpaceInfoVo"/>
        <where>
            <if test="spaceId != null  and spaceId != ''">and s.space_id = #{spaceId}</if>
            <if test="spaceName != null  and spaceName != ''">and s.space_name like concat('%', #{spaceName}, '%')</if>
            <if test="spaceAddress != null  and spaceAddress != ''">and s.space_address = #{spaceAddress}</if>
            <if test="remark != null  and remark != ''">and s.remark = #{remark}</if>
            <if test="companyName != null  and companyName != ''">and s.company_name = #{companyName}</if>
            <if test="accountBank != null  and accountBank != ''">and s.account_bank = #{accountBank}</if>
            <if test="accountNum != null  and accountNum != ''">and s.account_num = #{accountNum}</if>
            <if test="createBy != null  and createBy != ''">and s.create_by = #{createBy}</if>
            <if test="createTime != null ">and s.create_time = #{createTime}</if>
            <if test="updateBy != null  and updateBy != ''">and s.update_by = #{updateBy}</if>
            <if test="updateTime != null ">and s.update_time = #{updateTime}</if>
            ${params.dataScope}
        </where>
        order by create_time desc
    </select>

    <select id="selectSpaceInfoBySpaceId" parameterType="String" resultMap="SpaceInfoResult">
        <include refid="selectSpaceInfoVo"/>
        where space_id = #{spaceId}
    </select>

    <insert id="insertSpaceInfo" parameterType="SpaceInfo" keyProperty="spaceId" useGeneratedKeys="true">
        insert into t_space_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="spaceId != null">space_id,</if>
            <if test="spaceName != null">space_name,</if>
            <if test="spaceAddress != null">space_address,</if>
            <if test="companyName != null">company_name,</if>
            <if test="accountBank != null">account_bank,</if>
            <if test="accountNum  != null">account_num ,</if>
            <if test="remark != null">remark,</if>
            <if test="userId != null">user_id,</if>
            <if test="deptId != null">dept_id,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="spaceId != null">#{spaceId},</if>
            <if test="spaceName != null">#{spaceName},</if>
            <if test="spaceAddress != null">#{spaceAddress},</if>
            <if test="companyName != null">#{companyName},</if>
            <if test="accountBank != null">#{accountBank},</if>
            <if test="accountNum  != null">#{accountNum},</if>
            <if test="remark != null">#{remark},</if>
            <if test="userId != null">#{userId},</if>
            <if test="deptId != null">#{deptId},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
        </trim>
    </insert>

    <update id="updateSpaceInfo" parameterType="SpaceInfo">
        update t_space_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="spaceName != null">space_name = #{spaceName},</if>
            <if test="spaceAddress != null">space_address = #{spaceAddress},</if>
            <if test="companyName != null">company_name = #{companyName},</if>
            <if test="accountBank != null">account_bank = #{accountBank},</if>
            <if test="accountNum  != null">account_num = #{accountNum },</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where space_id = #{spaceId}
    </update>

    <delete id="deleteSpaceInfoBySpaceId" parameterType="String">
        delete
        from t_space_info
        where space_id = #{spaceId}
    </delete>

    <delete id="deleteSpaceInfoBySpaceIds" parameterType="String">
        delete from t_space_info where space_id in
        <foreach item="spaceId" collection="array" open="(" separator="," close=")">
            #{spaceId}
        </foreach>
    </delete>
</mapper>