<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.credential.mapper.CredentialInfoMapper">

    <resultMap type="CredentialInfo" id="CredentialInfoResult">
        <result property="credentialId" column="credential_id"/>
        <result property="userId" column="user_id"/>
        <result property="credentialType" column="credential_type"/>
        <result property="credentialExpireTime" column="credential_expire_time"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <resultMap type="CredentialInfoDtoPage" id="CredentialInfoDtoPageResult">
        <result property="credentialId" column="credential_id"/>
        <result property="userId" column="user_id"/>
        <result property="userName" column="nick_name"/>
        <result property="credentialType" column="credential_type"/>
        <result property="credentialExpireTime" column="credential_expire_time"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <sql id="selectCredentialInfoVo">
        SELECT ci.credential_id,
               ci.user_id,
               ci.credential_type,
               ci.credential_expire_time,
               ci.create_by,
               ci.create_time,
               ci.update_by,
               ci.update_time,
               su.nick_name
        FROM t_credential_info ci
                 LEFT JOIN sys_user su ON ci.user_id = su.user_id
    </sql>

    <select id="selectCredentialInfoList" parameterType="CredentialInfo" resultMap="CredentialInfoDtoPageResult">
        <include refid="selectCredentialInfoVo"/>
        <where>
            <if test="userName != null  and userName != ''">and su.nick_name like concat('%', #{userName},'%')</if>
            <if test="credentialType != null ">and ci.credential_type = #{credentialType}</if>
            <if test="credentialExpireTime != null ">and credential_expire_time = #{credentialExpireTime}</if>
            <if test="userId != null ">and ci.user_id = #{userId}</if>
        </where>
    </select>

    <select id="selectCredentialInfoByCredentialId" parameterType="String" resultMap="CredentialInfoResult">
        <include refid="selectCredentialInfoVo"/>
        where credential_id = #{credentialId}
    </select>

    <insert id="insertCredentialInfo" parameterType="CredentialInfo">
        insert into t_credential_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="credentialId != null">credential_id,</if>
            <if test="userId != null">user_id,</if>
            <if test="credentialType != null">credential_type,</if>
            <if test="credentialExpireTime != null">credential_expire_time,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="credentialId != null">#{credentialId},</if>
            <if test="userId != null">#{userId},</if>
            <if test="credentialType != null">#{credentialType},</if>
            <if test="credentialExpireTime != null">#{credentialExpireTime},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
        </trim>
    </insert>

    <update id="updateCredentialInfo" parameterType="CredentialInfo">
        update t_credential_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null">user_id = #{userId},</if>
            <if test="credentialType != null">credential_type = #{credentialType},</if>
            <if test="credentialExpireTime != null">credential_expire_time = #{credentialExpireTime},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where credential_id = #{credentialId}
    </update>

    <delete id="deleteCredentialInfoByCredentialId" parameterType="String">
        delete
        from t_credential_info
        where credential_id = #{credentialId}
    </delete>

    <delete id="deleteCredentialInfoByCredentialIds" parameterType="String">
        delete from t_credential_info where credential_id in
        <foreach item="credentialId" collection="array" open="(" separator="," close=")">
            #{credentialId}
        </foreach>
    </delete>
</mapper>